---
import "../global.css"
import Hero from "../components/Hero.astro"
import Navbar from "../components/Navbar.jsx"
import Footer from "../components/Footer.astro"
import WhyQubly from "../components/WhyQubly.astro"
import SignupForm from "../components/SignupForm.astro"
import Testimonials from "../components/Testimonials.astro"
import ForProductTeams from "../components/ForProductTeams.astro"
import ForEngineeringTeams from "../components/ForEngineeringTeams.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Qubly - Landing Page</title>
	</head>
	<body>
		<div class="font-body">
      <div class="bg-gradient-to-b from-white to-[#E2F1FF] -skew-y-6">
        <div class="skew-y-6">
          <Navbar client:load />
          <Hero />
        </div>
      </div>
      <WhyQubly />
      <ForProductTeams />
      <ForEngineeringTeams />
      <Testimonials />
      <SignupForm />
      <Footer />
    </div>
	</body>
</html>
